body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #171717;
    padding: 10px 20px;
    border-bottom: 1px solid #98989879;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
 nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav >  ul li {
    margin-right: 20px;
  }
  
  nav >  ul li:last-child {
    margin-right: 0;
  }
  
  nav >  ul li a {
    color: #171717;
    text-decoration: none;
    padding: 40px 40px;
    font-weight: bold;
  }
  
  .user {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }
  
  .user img {
    width: 40px;
    height: 4 0px;
    border-radius: 25%;
    margin-right: 15px;
  }

  #logo{
    width: 150px;
    height: 50px;
    padding-left: 50px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.left-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.left-content h2 {
    margin: 0 0 10px;
    font-size: 5vh;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.left-content p {
    margin: 0 0 20px;
    padding-top: 6vh;
    padding-bottom: 4vh;
    font-size: 16px;
    line-height: 1.6;
}

.right-content {
    flex: 1;
    padding: 20px;
}

.right-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-btn, .setup-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7161EC;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.setup-btn {
    background-color: #f7f7f71c;
    color: black;
    border: #171717 solid 1px;
}

.upload-btn:hover{
    background-color: #555;
}

.setup-btn:hover {
    background-color: #555;
    color: white;
    border: #171717 solid 1px;
}

main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#logo_safe{
    width: 70px;
    height: 70px;
}

.active{
    color: #7161EC;
    padding-bottom: 7px;
    border-bottom: 2px solid #7161EC;
}

#img_right{
    position: absolute;
    right: 0;
    height: 30vh;
    top: 10%;

}
#img_left{
    position: absolute;
    left: 0;
    height: 20vh;
    top: 10%;
}